@import '~bootstrap/dist/css/bootstrap.min.css';
.container {
  padding-top: 2rem;
}
.container h1 {
  text-align: center;
}
.container .row {
  margin-bottom: 2rem;
}
.container .drop-zone {
  min-height: 200px;
  border: 2px dashed #ccc;
  padding: 1rem;
  overflow-y: auto;
}
.container .drop-zone .item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: grab;
}
.container .save-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.table {
  margin-top: 2rem;
}
